img {
    width: 200px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(181, 62, 62);
    background-color: aquamarine;
}

.cat-image {
    width: 100px
}

a:hover {
    color: black
}